<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-positive">
  </div> <!-- cd-timeline-img -->
  <div class="cd-timeline-content text-center">
    <%= link_to "Add your first dream", new_dream_path, class: "medium button" %>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->
