<div class="timeline panel medium-6 large-4 columns">
  <section id="cd-timeline" class="cd-container">
    <% unless @dreams.empty? %>
    <%= render partial: "dream", collection: @dreams %>
    <% else %>
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-positive">
        </div> <!-- cd-timeline-img -->
        <div class="cd-timeline-content text-center">
          <%= link_to "Add your first dream", new_dream_path, class: "medium button" %>
        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->
    <% end %>
  	</section>
</div>
<div class="dream panel medium-6 large-8 columns show-for-medium-up">
  <div class="row">
    <%= render partial: "active_dream", object: @dreams.first, as: :dream %>
  </div>
</div>
