<div class="timeline panel medium-6 large-4 columns">
  <section id="cd-timeline" class="cd-container">
    <% unless @dreams.empty? %>
      <%= render partial: "dream", collection: @dreams %>
    <% else %>
      <%= render partial: "empty_dream" %>
    <% end %>
  	</section>
</div>
<div class="dream panel medium-6 large-8 columns show-for-medium-up">
  <div class="row">
    <%= render partial: "active_dream", object: @dreams.first, as: :dream %>
  </div>
</div>
