<div class="large-4 columns panel">
  <div class="pie chart" id="pie-container"></div>
  <div class="stacked-bar chart" id="stacked-bar-container"></div>
</div>

<div class="large-8 columns panel">
  <div class="row text-center">
    <div class="factoid">
    <div class="large-6 columns">
      <div class="small-6 columns">
        <h2>36</h2> dreams
      </div>
      <div class="small-6 columns">
        <h2>36</h2> dreams
      </div>
    </div>
    <div class="large-6 columns">
      <h2>Overall Sentiment</h2>
      Overall Sentiment
    </div>
  </div>
  </div>
  <div class="row">
    <div class="columns">
      <div class="timeline-chart chart" id="timeline-container"></div>
    </div>
  </div>
  <div class="row scatter-thing">
    <div class="columns">
      <div class="scatter chart" id="scatter-container"></div>
    </div>
  </div>
</div>
