<div class="large-4 columns">
  <div id="stacked-bar-container" style="width: 100%; height: 650px; margin: 0 auto"></div>
</div>

<div class="large-8 columns">

  <div class="row text-center">
    <div class="large-6 columns">
      <div class="small-6 columns">
        <h2>36</h2> dreams
      </div>
      <div class="small-6 columns">
        <h2>36</h2> dreams
      </div>
    </div>
    <div class="large-6 columns">
      <h2>Overall Sentiment</h2>
      Overall Sentiment
    </div>
  </div>


  <div class="row">
    <div class="large-6 columns">
      <div id="pie-container"></div>
    </div>
    <div class="large-6 columns">Another squre here</div>
  </div>

  <div class="row">
    <div class="columns">
      <div id="scatter-container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
    </div>
</div>
