<div class="row collapse fit">
  <div class="large-4 columns fit">
    <div class="row collapse">
      <div class="small-6 columns">
        DREAMS
      </div>
      <div class="small-6 columns">
        36
      </div>
    </div>
    <div class="row collapse">
      <div class="small-6 columns fit">
        KEYWORDS
      </div>
      <div class="small-6 columns">
        344
      </div>
    </div>
    <div class="row collapse">
      <div class="small-6 columns">
        AVG. SENTIMENT
      </div>
      <div class="small-6 columns">
        0.398
      </div>
    </div>
    <div class="row collapse">
      <div class="small-6 columns">
        AVG. WORDS
      </div>
      <div class="small-6 columns">
        246
      </div>
    </div>
  </div>
  <div class="large-8 columns fit">
    <div class="timeline-chart chart" id="timeline-container"></div>
  </div>
</div>

<div class="row collapse">
  <div class="large-4 columns fit">
    <div class="stacked-bar chart" id="stacked-bar-container"></div>
  </div>
  <div class="large-8 columns fit">
    <div class="row collapse">
      <div class="large-6 columns">
      </div>
      <div class="large-6 columns fit">
        <div class="pie chart" id="pie-container"></div>
      </div>
    </div>
    <div class="row collapse">
      <div class="scatter chart" id="scatter-container"></div>
    </div>
  </div>
</div>
