<div class="large-4 columns">
  <div id="stacked-bar-container" style="width: 100%; height: 650px; margin: 0 auto"></div>
</div>
<div class="large-8 columns">
  <div class="row">
    <div class="large-6 columns">
      <div id="pie-container">yo</div>
    </div>
    <div class="large-6 columns">Two</div>
  </div>
</div>
