<section class="bottom">
  <div class="row demo-row">
    <div class="arrow" id="arrow-left">
      <span>❮</span>
    </div>
    <div class="arrow" id="arrow-right">
      <span>❯</span>
    </div>
      <div class="slide analytics-slide">
        <div class="columns small-12 medium-6 text-content">
          <h3>Dream Analytics</h3>
          <p>Significant patterns in your dreams are revealed in the analytics dashboard.</p>
        </div>
        <div class="columns small-12 medium-6 photo-area">
          <!-- <img class="show-for-small-only" src="http://placehold.it/350x150"> -->
          <img class=" slide-img" src="http://i.imgur.com/igijvAV.png">
        </div>
      </div>
      <div class="slide timeline-slide current">
        <div class="columns small-12 medium-6 text-content">
          <h3>Mobile Friendly</h3>
          <p>Record your dreams instantly from your bed with your smartphone.</p>
        </div>
        <div class="columns small-12 medium-6 photo-area">
          <!-- <img class="show-for-small-only" src="http://placehold.it/350x150"> -->
          <img class=" slide-img" src="http://i.imgur.com/SDojnZI.png">
        </div>
      </div>
      <div class="slide recording-slide">
        <div class="columns small-12 medium-6 text-content">
          <h3>Journal Timeline</h3>
          <p>Easily navigate your journal via a responsive timeline.</p>
        </div>
        <div class="columns small-12 medium-6 photo-area">
          <!-- <img class="show-for-small-only" src="http://placehold.it/350x150"> -->
          <img class=" slide-img" src="http://i.imgur.com/eNNg2lm.png">
        </div>
      </div>
  </div>
</section>
