<section class="top">
  <div class="title-box">
    <h1 class="title">DREAMCACHER</h1>
    <h2 class="title subtitle">data visualization + dream journal</h2>
  <%= link_to 'get started', new_user_registration_path, class: "action button" %>
  </div>
</section>
