.chart {
  width: 100%;
}

.stacked-bar {
  height: 650px;
}

.pie {

}

.scatter {
// style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"
}

.timeline-chart {
  // style="min-width: 310px; height: 400px; margin: 0 auto"
}
