@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,300|Open+Sans:400,600,300);

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Open Sans', sans-serif;

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

.background {
  background-color: #ADD8E6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: auto;
  // background: url("http://www.wallpaperup.com/uploads/wallpapers/2012/09/26/16626/8155b41ae43140299c342079a2c134dd.jpg") no-repeat center center fixed;
}

/************** FIXES *******************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
