@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,300|Open+Sans:400,600,300);

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Open Sans', sans-serif;

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #FFFFFF;
}
//
// .background {
//   display: flex;
//   flex-flow: column;
//   height: 100%;
//   background: url("https://images.unsplash.com/photo-1429305336325-b84ace7eba3b?q=80&fm=jpg&s=8cf84b970497806cc96a06d6aba2b86b") no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   overflow: auto;
// }

/************** FIXES *******************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
