@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,300|Open+Sans:400,600,300);

$oil: #333333;
$medium: #ebebeb;
$dark: #e3e3e3;

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  background: url("http://i.imgur.com/WmKOzNn.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

//*************************** SCROLLBAR ***************************************

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $dark;
}

/************** FIXES *******************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
