$white: #ffffff;
$purple: #30385f;

.devise-background {
  background-image: url("https://images.unsplash.com/photo-1429305336325-b84ace7eba3b?q=80&fm=jpg&s=8cf84b970497806cc96a06d6aba2b86b");
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  padding: 45px 20px 20px;
  position: relative;
}

.devise-wrapper {
  margin: 0 auto;
}

.devise-content {
  background-color: $white;
  overflow: hidden;
  padding: 15px;
}

.devise-header {
  background-color: $purple;
  line-height: normal;
  text-align: center;

  h1 {
    font-size: 2.7rem;
    line-height: 70px;
    margin: 0;
  }
}


@media only screen and (min-width: 40.063em) {
  .devise-wrapper {
    left: 50%;
    margin: -250px 0 0 -250px;
    position: absolute;
    top: 50%;
    width: 500px;
  }
}
