

@media only screen and (min-width: 40.063em) {
  .dashboard {
    margin-top: 7vw;
  }
} /* min-width 641px, medium screens */

.dashboard {
  background-color: #000;
}

.content {
  background-color: red;
  margin-top: 15px;
  overflow: hidden;
}

.dream {
  height: 65vh;
}
