@media only screen and (min-width: 40.063em) {
  .dashboard {
    margin-top: 7vw;
  }
} /* min-width 641px, medium screens */


.content {
  overflow: hidden;
}

.avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
